<h2>Google Map - Geocode data generator</h2>
<i>Alpha v.0.1</i>
<p>This tool will generate the Geocode locations based on a CSV file.</p>
<p>Please make sure the CSV file is in this format:  </p>
<p><b>PlaceName &nbsp; Address &nbsp; City &nbsp; State &nbsp; Zipcode </b></p>
		
* remove table header before uploading
<form name="upload" action="../services/io.php" method="POST" enctype="multipart/form-data">
  <label for="file">File</label>
  <input type="file" name="file" />
  <br/>
  <input type="submit"/>
  <input type="reset"/>
</form>

<br/>

<!--<form name="paste" action="../services/io.php" method="POST" enctype="application/x-www-form-urlencoded">
  <label for="txt">Paste text here</label>
  <textarea name="txt" cols="40" rows="10" wrap="SOFT"></textarea> 
  <br/>
  <input type="submit"/>
  <input type="reset"/>
</form>-->


<p ng-if="outFile">JSON file wich will be imported to the project:  <a href="../services/{{outFile}}" target="_blank"> {{outFile}}</a> </p>

<p ng-if="!outFile">This is a default map: (locations loaded from services/locations.json
<a href="../services/test_data/locations.json" target="_blank">test locations.json</a>)
<br>
	you can find more test files on <b>services/test_data</b>
</p>
<div ng-controller="MainCtrl as vm">
	
	<script id="info-window-template.html" type="text/ng-template">
			<div ng-non-bindable="">
				{{markAdd}}
			</div>
	</script>
	
	<map center="41,-87" zoom="3" >
		 <info-window id="cached" template="{{vm.template.cached}}"></info-window>
		 <marker ng-repeat="(id, m) in markers" position="{{m[1]}},{{m[2]}}" id="{{id}}" on-click="vm.showInfo(event,id, m[0])"></marker>
	</map>

	<div ng-bind-html="thisCanBeusedInsideNgBindHtml"></div>

</div>
